PORT=5000
NODE_ENV=development
CLIENT_URL=http://kuchupuchu
MONGO_URI=mongodb://127.0.0.1:27017/blablabla
JWT_SECRET=blablabla
JWT_REFRESH_SECRET=blablabla
GOOGLE_CLIENT_ID=your_google_client_id_here
UPLOAD_DIR=./uploads
